<h1>Заявка на расчет полиса КАСКО </h1>
<p>После того как вы <b>заполните</b> и <b>отправите</b> заявку, наши специалисты: </p>
<ul>
  <li>рассчитают стоимость полиса КАСКО в различных страховых компаниях, </li>
  <li>расскажут вам о "подводных камнях" и особенностях,</li>
  <li>помогут выбрать вариант, наиболее <b>Выгодный</b> именно <b>для вас</b>.</li>
</ul>
